### Maven ###
target/
!**/src/main/**/target/
!**/src/test/**/target/

### Gradle ###
build/
!**/src/main/**/build/
!**/src/test/**/build/

### Wrapper ###
.mvn/wrapper/maven-wrapper.jar

### Logs ###
*.log

### Upload / Runtime files ###
uploads/
tmp/
storage/

### Documents (TUYỆT ĐỐI KHÔNG COMMIT) ###
*.doc
*.docx
*.pdf
*.xls
*.xlsx
*.ppt
*.pptx

### Absolute paths (tránh lỗi C:/ D:/) ###
C:/
D:/

### IDE ###
### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### Eclipse / STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### OS ###
.DS_Store
Thumbs.db
